<h1 style="color:blue;">{{titulo}}</h1>
<hr />
<h3>Selector de Colores</h3>
<button (click)="logColorSeleccionado()">Mostrar COLOR</button>
<input type="text" [(ngModel)]="colorseleccionado"/>
<pre [style.border] = "colorseleccionado == 'red' ? '5px solid black' : '1px solid green'"
     [ngClass]="{
       fondoAzul: colorseleccionado == 'blue',
       fondoVerde: colorseleccionado == 'green' 
     }"
>
  <strong>Color Elegido:</strong>
  {{colorseleccionado}}
</pre>
<div [ngStyle]="{
  'background':colorseleccionado,
  'width': '200px',
  'height': '200px',
  'float': 'right',
  'margin-right':'69%',
  'padding':'20px'
}">
</div>
<div style="clear:both">

</div>
<hr/>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'green'"[ngStyle]="{
    'background':color,
    'color':'white',
    'padding': '20px'}">
    Es de color VERDE</li>
</ul>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'"[ngStyle]="{
    'background':color,
    'color':'white',
    'padding': '20px'}">
    Es de color ROJO</li>
</ul>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'blue'"[ngStyle]="{
    'background':color,
    'color':'white',
    'padding': '20px'}">
    Es de color AZUL</li>
</ul>

<hr/>
<strong>Empleado estrella:</strong>
<br />
<br />
<div *ngIf="trabajador_externo == true">

  <button (click)="cambiarExterno(false)" type="button" name="button">Mostrar Trabajador</button>
  <ul>
    <li>{{trabajadores[2].nombre}}</li>
    <li>{{trabajadores[2].edad}}</li>
    <li>{{trabajadores[2].cargo}}</li>
    <li *ngIf="trabajadores[2].contratado == true">Está contratado</li>
    <li *ngIf="trabajadores[2].contratado == false">No está contratado</li>
  </ul>
</div>

<div *ngIf="trabajador_externo == false">
  <button (click)="cambiarExterno(true)" type="button" name="button">Mostrar Empleado</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li>{{empleado.contratado}}</li>
    <li *ngIf="empleado.contratado == true">Está contratado</li>
    <li *ngIf="empleado.contratado == false">No está contratado</li>
  </ul>
</div>

<hr />
<h3>Listado de Empledos</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    <strong>Empleado {{i+1}}:</strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado == true">Está contratado</li>
      <li *ngIf="empleado.contratado == false">No está contratado</li>
    </ul>
  </li>
</ul>

<hr />
